<% provide(:title, "Editing Group") %>

<h1>Editing Group</h1>

<%= render 'form', group: @group %>

<div class= "btn btn-default btn-xs"><%= link_to 'Show', @group %></div>
<div class= "btn btn-default btn-xs"><%= link_to 'Back', groups_path %></div>
