<tr>
  <td><%= link_to gamer.username, gamer %></td>
  <td><%= gamer.email %></td>
  <% if current_gamer.admin? && !current_gamer?(gamer) %>
    <td> <%= link_to "delete", gamer, method: :delete,
                                  data: { confirm: "You sure?" } %> </td>
  <% end %>
</tr>
