<h1>New Chatroom</h1>

<%= render 'form', team: @parent, chatroom: @chatroom %>


 <% if @chatroom.group.nil? %>
 	<%= link_to 'Back', team_path(@parent), class:"btn btn-sm btn-default" %>
<% else %>
 	<%= link_to 'Back', group_path(@parent), class:"btn btn-sm btn-default" %>
<% end %>


