<h1>New Chatroom</h1>

<%= render 'form', team: @parent, chatroom: @chatroom %>


<% if @chatroom.group.nil? %>
 	<%= link_to 'Back', team_chatrooms_path %>
<% else %>
 	<%= link_to 'Back', group_chatrooms_path %>
<% end %>

