<% provide(:title, "Editing Team "+ @team.name ) %>
<h1>Editing Team</h1>

<%= render 'form', team: @team %>

<div class= "btn btn-default btn-xs"><%= link_to 'Show', @team %>  </div>
<div class= "btn btn-default btn-xs"><%= link_to 'Back', teams_path %> </div>
