<% provide(:title, "Arena") %>

<div class="center jumbotron">

    <h1>Arena</h1>
    <p>Homepage Arena</p>

    <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "SearchGroup" , "#" %></li> //vanno sostituiti i path delle future pagine per le cose
                <li><%= link_to "CreateGroup" , "#" %></li>
                <li><%= link_to "SearchTeam" , "#" %></li>
                <li><%= link_to "SearchTeam" , "#" %></li>
            </ul>
        </nav>

</div>
